body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 4px;
}

.rating > *:first-child {
  font-weight: bolder;
}

.rating> *:last-child {
  font-size: 11px;
}


.thumbnail {
  max-height: 40px;
}